@import 'vars';

*
{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-size: 16px;
    font-weight: 300;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
    color: $text;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
	// padding-top: 115px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    &--fluid {
        width: 100%;
        max-width: 1840px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

.btn {
    padding: 16px 72px;
    display: inline-block;
    vertical-align: top;
    border: none;
    text-decoration: none;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    &--big {
        padding: 10px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #EAE151;
        font-weight: 800;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.15em;
        color: $violet;
        transition: background .2s linear;

        span {
            margin-right: 10px;
        }

        &:hover {
            background: darken(#EAE151, 15%);
        }
    }

    &--intro {
        background: url('../img/btn__bg-violet.svg') center no-repeat;
        margin-bottom: 195px;

        &:hover {
            filter: brightness(0.8);
        }
    }

    &--yellow {
        background: url('../img/btn-yellow.svg') center no-repeat;
        margin-bottom: 225px;
        margin-top: 148px;

        &:hover {
            filter: brightness(0.8);
        }
    }

    &--yellow2 {
        background: url('../img/btn-yellow.svg') center no-repeat;
        color: $violet;
        &:hover {
            filter: brightness(0.8);
        }
    }

    &--form {
        background: url('../img/btn__bg-violet.svg') center no-repeat;
        // margin-bottom: 95px;

        &:hover {
            filter: brightness(0.8);
        }
    }

}

.title {
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    text-transform: uppercase;
    color: $violet;

    &--about {
        margin-bottom: 40px;
    }

    &--reviews {
        color: #fff;
    }
}

.contur {
    text-shadow: #fff 1px 1px 0, #fff -1px -1px 0,
                 #fff -1px 1px 0, #fff 1px -1px 0;
    // color: transparent;

    &--violet {
        text-shadow: $violet 1px 1px 0, $violet -1px -1px 0,
                 $violet -1px 1px 0, $violet 1px -1px 0;
    }
}

// Header

.header {
    padding-top: 35px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__phone {
    color: #fff;
    font-size: 18px;
}

.header__phone__large {
    font-size: 1.5rem;
    font-weight: bold;
}

// Nav

.nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $violet;
    width: 100%;
    &.active {
        display: block;
    }

}

.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 190px;
}

.nav__burger {
    display: none;
    cursor: pointer;
    &.active {
        display: block;
    }
}

.nav__link {
    display: block;
    letter-spacing: 0.02em;
    color:rgba(255, 255, 255, 0.2);
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    &.active {
        font-size: 64px;
        line-height: 77px;
        letter-spacing: 0.02em;
        color: $violet;
        text-shadow: #fff 1px 1px 0, #fff -1px -1px 0,
                 #fff -1px 1px 0, #fff 1px -1px 0;
    }
}

.nav__number__item {
    display: none;
    font-size: 400px;
    line-height: 480px;
    letter-spacing: 0.02em;
    font-weight: 800;
    color: $violet;
    text-shadow: #EAE151 1px 1px 0, #EAE151 -1px -1px 0,
                #EAE151 -1px 1px 0, #EAE151 1px -1px 0;

    &.active {
        display: block;
    }

}

// Intro
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // height: 100vh;
    background: url("../img/bg__inner.png") center no-repeat;
    background-size: cover;
    // min-height: 820px;
    position: relative;
}

.intro__inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 100;
}

.intro__img__pfroffesional {
    position: absolute;
    z-index: -1;
    top: 20%;
    right: 40%;
}

.intro__img__fitness {
    position: absolute;
    bottom: 25%;
    right: 25%;
    z-index: -1;
}

.intro__about {
    width: 50%;
    position: relative;
}

.intro__header {
    position: absolute;
    width: 620px;
    bottom: 420px;
}

.intro__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.intro__subtitle {
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    text-transform: uppercase;
    color: #EAE151;
}

.intro__info {
    margin: 65px 0 35px 0;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    color: $violet;

}

.intro__info__large {
    text-transform: uppercase;
    margin-left: 10px;
    color: #EAE151;
}

.intro__photo {
    width: 65%;
    // img {
    //     max-width: 100%;
    // }
}

// Social
.social {
    display: flex;
}

.social__link {
    text-decoration: none;
    margin-right: 15px;
    transition: transform .2s linear;

    &:hover {
        transform: translateY(-5px);
    }

    &:last-child {
        margin-right: 0;
    }
}

// About
.about {
    padding: 300px 0 50px 0;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about__info {
    width: 45%;
}

.about__header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 40px;
}

.abot__header__line {
    margin-left: 25px;
}

.about__text__section {
    margin-bottom: 40px;
}

.about__photo {
    width: 50%;
    position: relative;
}

.about__photo__wrapper {
    z-index: 1000;

    img {
        z-index: 1000;
    }
}

.about__photo__first {
    z-index: 1000;
}

.about__photo__second {
    position: absolute;
    top: -30%;
    left: 30%;
    z-index: -1;
}

// Tranings
.tranings {
    padding: 70px 0;
}

.tranings__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.tranings__line {
    margin: 0 25px;
}

.tranings__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tranings__item {
    width: 24%;
    cursor: pointer;
}

.tranings__item__title {
    margin-top: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: $violet;

    span {
        margin-left: 10px;
    }
}

.tranings__item__photo {
    position: relative;
}

.tranings__item__content {
    display: none;
    position: absolute;
    top: 36px;
    left: 136px;
    background: url('../img/tranings__bg.svg') no-repeat center;
    width: 480px;
    height: 282px;
    text-align: center;
    z-index: 1000;

    &.active {
        display: block;
    }
}

.tranings__item__content__title {
    margin-top: 24px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: $violet;
    margin-bottom: 33px;
}

.tranings__item__content__description {
    text-align-last: left;
    margin-left: 100px;
}

.tranings__item__content__fotter {
    margin-top: 39px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tranings__item__content__price {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    span {
        margin-top: 5px;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        color: $violet;
    }
}

.tranings__item__border {
    position: absolute;
    left: 0;
    bottom: 15px;
    z-index: -1;
}

// Reviews
.reviews {
    padding: 70px 0;
    background: url('../img/bg_reviews.png') no-repeat center;
}

.reviews__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../img/circle.svg') no-repeat left;
}

.reviews__content {
    width: 55%;
}

.reviews__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.reviews__title {
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 70px;

    span {
        font-family: 'Lato', sans-serif;
    }
}

.reviews__title__contur {
    color: $violet; // !?
}

.reviews__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews__photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.reviews__photo__phone {
    position: relative;
}

.reviews__phone__content {
    position: absolute;
    width: 275.6px;
    bottom: 47px;
    left: 105px;
}

// Offers

.offers {
    padding-top: 60px;
}

.offers__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.offers__item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    width: 570px;
    height: 239px;
    background-color: #fff;
    z-index: 10001;
    position: relative;
    cursor: pointer;
    transition: background .2s linear, color .2s linear;

    // &:nth-child(2n) {
    //     margin-left: 30px;
    // }

    &:hover {

        color: #fff;
        .offers__description__title {
            color: #fff;
        }
        .offers__description {
            background: url('../img/bg-violet.png') no-repeat center;
        }
        .offers__description__text {

            &:before {
                background-color: #EAE151;
            }
        }
    }
}

.offers__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.offers__description {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: right;
    flex-direction: column;
    max-width: 100%;
    width: 364px;
    height: 194px;
    background: url('../img/offers__bg.png') no-repeat center;
    text-align: right;
    transition: background .2s linear;
}

.offers__description__content {
    margin-left: 80px;
}

.offers__description__title {
    margin-top: 40px;
    margin-right: 50px;
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
    color: $violet;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 35px;
    transition: color .2s linear;

    &::after {
        content: "";
        display: block;
        width: 46px;
        height: 2px;
        background-color: #EAE151;
        position: absolute;
        top: 50px;
        right: 0;
    }

    // img {
    //     margin-left: 50px;
    // }

}

.offers__line {
    margin-left: 20px;
}

.offers__description__text {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding-right: 10px;
    text-align: center;
    transition: background-color .2s linear;

    &:before {
        content: "";
        display: block;
        width: 7px;
        height: 50px;
        background-color: rgba(67, 41, 143, 0.05);
        position: absolute;
        bottom: 30px;
        left: 67px;
        transform: rotate(23deg)
    }
}

// Connection
.connection {
    padding-top: 70px;
    padding-bottom: 40px;
    background: url('../img/connection.svg') right bottom no-repeat;
    position: relative;
}

.connection__bg {
    position: absolute;
    bottom: 250px;
    left: 50%;
}

.connection__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connection__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 45px;
}

.connection__header__line {
    margin-left: 25px;
}

.connection__title {
    margin-bottom: 60px;
}

.connection__title__contur {
    color: #fff;
}

.connection__photo {
    img {
        z-index: 1001;
    }
}

// Form
.form__input {
    display: block;
    border: none;
    border-bottom: 1px solid $text;
    background: none;
    outline: none;
    width: 370px;
    margin-bottom: 30px;
    padding-bottom: 13px;
}

.form__text {
    margin-bottom: 60px;
}

.form__link {
    text-decoration: none;
    color: $violet;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// Footer
.footer {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.footer__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__text {
    color: $violet;
    margin-left: 450px;
}

// @font-face {
//     // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
//     font-family: "Contur";
//     // адрес шрифта и тип
//     src: url("../fonts/Contur.ttf") format("truetype");
//     font-style: normal;
//     font-weight: normal;
//   }